<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NCKH_QLHH.Properties.Settings.cnnStr" connectionString="Data Source=DESKTOP-FA39JG7\SQLEXPRESS;Initial Catalog=NCKH_QLHH;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>